:root
{
	--imageIconRadius: 30px;
	--imageUpSize: 200px;
	--imagesUpSize: 200px;
	--btnActionPadding: 12px;
}
body,html
{
	font-family: var(--myFont1);
}

input[type="file"]
{
	display: none;
}

#ffProfilStName
{
	display: none;
}
#oldFile1,#oldFile2,#oldFile3,#oldFile4,#prId
{
	display: none;
}
div.dashAdd
{
	text-align: center;
	width: 90%;
	margin: 50px auto;
}
div.daTitle
{
	width: 100%;
	margin-bottom: 20px;
}
div.daTitle h1
{
	
}
div.daTitle hr
{
	width: 10%;
	border-color: var(--colorPrincipal);
}
form.daForm
{
	padding: 30px 0;
	/*background-color: var(--colorWhite2);*/
	width: 100%;
}

div.dafFileField
{
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
	overflow-x: auto;
}
div.dafFilesSelect
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
div.dafFilesSelect label#profilfl
{
	width: var(--imageUpSize);
	margin: auto;
	position: relative;
	height: var(--imageUpSize);
	display: flex;
}
div.dafFilesSelect label
{
	width: var(--imagesUpSize);
	margin: auto;
	position: relative;
	height: var(--imagesUpSize);
	display: flex;
	/*z-index: 995;*/
}
label#profilFileLabel
{
	
}
div.dafFilesSelect label div.imgAction
{
	font-size: var(--textSize);
	color: var(--colorWhite1);
	border-radius: 5px;
	position: absolute;
	top: 0%;
	right: 15%;
	width: var(--imageIconRadius);
	height: 100%;
	/*background-color: blue;*/
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	/*z-index: 999;*/
}
div.imgAction i
{
	height: calc(var(--imageIconRadius) * 1.5);
	width: calc(var(--imageIconRadius) * 1.5);
	border-radius: 100%;
	background-color: var(--colorPrincipal);
}
.removeImg
{
	display: none;
}
div.dafFilesSelect label img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 100%;
}


.dafFormGroup1,.dafFormGroup2,.dafFormGroup3,.dafFormGroup4
{
	box-sizing: border-box;
	margin: 10px auto;
	width: 100%;
	display: flex;
	flex-direction: row;
}


.dafFormGroup4  div
{
	width: 50%;
}
.dafFormGroup4 div  input[type='radio']
{
	height: calc(var(--inputHeight) / 1.5);
	background-color: var(--colorPrincipal);
}



div.dafField
{
	margin: 10px auto;
	width: 45%;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
div.dafField label
{
	width: 100%;
}
div.dafField label:first-child
{
	font-weight: bold;
	color: var(--colorSecond);
	margin-bottom: 10px;
}
div.dafField input
{
	width: 100%;
	border-bottom: solid 1px rgba(12, 12, 13, 0.2);
}
div.dafField textarea
{
	width: 100%;
	border: solid 1px rgba(12, 12, 13, 0.2);
	padding: 5px 10px;
	height: calc(var(--inputHeight) * 3);
}



div.dafField input:focus + p
{
	width: 100%;
}
div.dafField p
{
	content: "";
	position: absolute;
	width: 100px;
	background-color: var(--colorPrincipal);
	height: 2px;
	width: 0%;
	transition: all 0.5s ease-in-out;
	bottom: 0;
}
div.dafFormBtn
{
	
}
div.dafFormBtn button
{
	border-radius: 20px;
}
div.dafFormBtn button img
{
	height: 100%;
}




@media screen and (max-width: 576px)
{
	.dafFormGroup1,.dafFormGroup2,.dafFormGroup3,.dafFormGroup4
	{
		flex-direction: column;
	}
	div.dafField
	{
		width: 100%;
	}
	.dafFormGroup4 div.dafField
	{
		width: 90%;
	}
	div.dhfPhone
	{
		
	}
	
}

@media screen and (max-height: 400px)
{
	div.bottomBanner
	{	
		display: none !important;
	}
}
	

	